pkgbase = idea-ce-eap
	pkgdesc = Early access version of the upcoming version of Intellij Idea IDE (community version)
	pkgver = 2024.3.243.22562.218
	pkgrel = 1
	url = http://www.jetbrains.com/idea/nextversion
	arch = any
	license = Apache2
	depends = java-environment
	depends = giflib
	depends = libxtst
	depends = libdbusmenu-glib
	options = !strip
	source = https://download.jetbrains.com/idea/ideaIC-2024.3.1.1.tar.gz
	source = idea-ce-eap.desktop
	sha256sums = b183b126de2cd457475eea184874b5da2fa33ba5ae2ff874bdc8c1d534156428
	sha256sums = c46594096daaed484e82022c7835254dfd3ecc693ae3685970c896345cd621f6

pkgname = idea-ce-eap
