pkgbase = waydroid-image-gapps-x64
	pkgdesc = A container-based approach to boot a full Android system on a regular Linux system (Android image, GAPPS).
	pkgver = 18.1_20250315
	pkgrel = 1
	url = https://github.com/waydroid
	arch = x86_64
	license = Apache
	optdepends = waydroid
	provides = waydroid-image
	conflicts = waydroid-image
	conflicts = waydroid-image-gapps
	source = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_x86_64/lineage-18.1-20250315-GAPPS-waydroid_x86_64-system.zip
	source = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_x86_64/lineage-18.1-20250315-MAINLINE-waydroid_x86_64-vendor.zip
	sha1sums = c2d14aec7ae4152a8ee85c93a81b73d0e7c567be
	sha1sums = b7c0e9ba1f7ade3f036747449b1ba1c8e480220f

pkgname = waydroid-image-gapps-x64
