pkgbase = python-cst-lsp
	pkgdesc = LSP Server powered by libcst for refactoring tasks.
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/rowillia/cst-lsp
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-libcst
	depends = python-pygls
	source = python-cst-lsp-0.1.3.tar.gz::https://github.com/rowillia/cst-lsp/archive/refs/tags/v.0.1.3.tar.gz
	sha256sums = b861bef878498438de98c0ee1f1cc7b1663f4628e82f381d8b67203c49688d04

pkgname = python-cst-lsp
	depends = python-libcst
	depends = python-pygls
